<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div class="y">
<div class="menu">
    <h1 routerLink="home"class="title">P-TECH<span routerLink="home">MAROC</span></h1>
    <a routerLink="home"><h2 class="home">Home</h2>
        <span routerLink="home" class="material-symbols-outlined" id="home_logo">
            home
            </span></a>
    <a routerLink="AboutUs"><h2 class="home">About Us</h2>
        <span routerLink="AboutUs" class="material-symbols-outlined" id="AboutUs_logo">
            info
            </span>
    </a>
    <a routerLink="interships"><h2 class="home">Interships</h2>
        <span routerLink="interships" class="material-symbols-outlined" id="internship_logo">
            group
            </span>
    </a>
    <a routerLink="mission"><h2 class="home">Missions</h2>
        <span routerLink="mission" class="material-symbols-outlined" id="mission_logo">
            check_circle
            </span></a>
    <a routerLink="news"><h2 class="home">News</h2>
        <span routerLink="news" class="material-symbols-outlined" id="news_logo">
            newspaper
            </span>
    </a>
    <a routerLink="Contacts"><h2 class="home">Contact Us</h2>
        <span routerLink="Contacts" class="material-symbols-outlined" id="contact_logo">
            contact_page
            </span>
    </a> 
    
           
</div>
    <div class="loginbutton">
        <a routerLink="login"><button class="login-btn">Join Us
            <span class="material-symbols-outlined" id="login_btn">
                login
                </span>
        </button></a>
    </div>
</div>

<router-outlet></router-outlet>

